<!-- Component: Cards / content / Revenue -->

<!-- frame: Cards / content / Revenue -->
<div class="frame cards-co-88cca5bf19e7">
  <!-- frame: header -->
  <div class="frame header-88cca5bf19e9">
    <!-- text: Revenue -->
    <div class="shape text revenue-88cca5bf6b0b">
      <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cca5bf6b0b" data-x="2224" data-y="694.9999999999999">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Revenue</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- frame: options -->
    <div class="frame options-88cca5bf19ea">
      <!-- frame: icon button -->
      <div class="frame icon-butto-88cca5bf19eb">
        <!-- frame: Icons / chevron-down -->
        <div class="frame icons-ch-8e03a9ec2faa">
          <!-- group: icon / chevron-down -->
          <div class="shape group icon-che-8e03a9ec2fab">
            <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fab" viewBox="2505 696 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
              <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fab" style="fill:#000000" rx="0" ry="0">
                <defs></defs>
                <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fac" style="display:none">
                  <defs></defs>
                  <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fac">
                    <rect rx="0" ry="0" x="2505" y="695.9999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#2a4365;fill-opacity:1"></rect>
                  </g>
                </g>
                <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fad">
                  <defs></defs>
                  <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fad">
                    <path d="M2511.34326171875,703.75732421875L2509.928955078125,705.1715698242188L2517,712.2426147460938L2524.071044921875,705.1715698242188L2522.656982421875,703.75732421875L2517,709.4141845703125L2511.34326171875,703.75732421875Z" style="fill:#2a4365;fill-opacity:1"></path>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: content -->
  <div class="frame content-88cca5bf19e8">
    <!-- frame: medium number -->
    <div class="frame medium-num-88cc43c4da5f">
      <!-- text: €90,200 -->
      <div class="shape text c-90200-88cc43c4da61">
        <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cc43c4da61" data-x="2224" data-y="739.9999999999999">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">€90,200</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: .00 -->
      <div class="shape text c-00-88cd3f02238b">
        <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cd3f02238b" data-x="2421" data-y="739.9999999999999">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">.00</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- frame: Graph elements / comparison / going up -->
      <div class="frame graph-elem-88cc43c4da60">
        <!-- text: +15% -->
        <div class="shape text c-15-88cc43c4da63">
          <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cc43c4da63" data-x="2476" data-y="880.9999999999999">
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">+15%</span></p>
              </div>
            </div>
          </div>
        </div>
        <!-- frame: icon / arrows / arrow-up -->
        <div class="frame icon-arr-919e42082cb7">
          <!-- group: icon / arrow-up -->
          <div class="shape group icon-arr-919e42082cb8">
            <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-324daca8-8ee1-8024-8004-919e42082cb8" viewBox="2515 877 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
              <g id="shape-324daca8-8ee1-8024-8004-919e42082cb8" style="fill:#000000" rx="0" ry="0">
                <defs></defs>
                <g id="shape-324daca8-8ee1-8024-8004-919e42082cb9" style="display:none">
                  <defs></defs>
                  <g class="fills" id="fills-324daca8-8ee1-8024-8004-919e42082cb9">
                    <rect rx="0" ry="0" x="2515" y="876.9999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#38a169;fill-opacity:1"></rect>
                  </g>
                </g>
                <g id="shape-324daca8-8ee1-8024-8004-919e42082cba">
                  <defs></defs>
                  <g class="fills" id="fills-324daca8-8ee1-8024-8004-919e42082cba">
                    <path d="M2532.65673828125,885.9622192382812L2531.2392578125,887.3731079101562L2527.984375,884.1028442382812L2527.970703125,897.7078857421875L2525.970703125,897.7058715820312L2525.984375,884.1380615234375L2522.754150390625,887.3532104492188L2521.34326171875,885.9357299804688L2527.01318359375,880.2921142578125L2532.65673828125,885.9622192382812Z" style="fill:#38a169;fill-opacity:1"></path>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- frame: content -->
<div class="frame content-88cca5bf19e8">
  <!-- frame: medium number -->
  <div class="frame medium-num-88cc43c4da5f">
    <!-- text: €90,200 -->
    <div class="shape text c-90200-88cc43c4da61">
      <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cc43c4da61" data-x="2224" data-y="739.9999999999999">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">€90,200</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: .00 -->
    <div class="shape text c-00-88cd3f02238b">
      <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cd3f02238b" data-x="2421" data-y="739.9999999999999">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">.00</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- frame: Graph elements / comparison / going up -->
    <div class="frame graph-elem-88cc43c4da60">
      <!-- text: +15% -->
      <div class="shape text c-15-88cc43c4da63">
        <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cc43c4da63" data-x="2476" data-y="880.9999999999999">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">+15%</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- frame: icon / arrows / arrow-up -->
      <div class="frame icon-arr-919e42082cb7">
        <!-- group: icon / arrow-up -->
        <div class="shape group icon-arr-919e42082cb8">
          <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-324daca8-8ee1-8024-8004-919e42082cb8" viewBox="2515 877 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
            <g id="shape-324daca8-8ee1-8024-8004-919e42082cb8" style="fill:#000000" rx="0" ry="0">
              <defs></defs>
              <g id="shape-324daca8-8ee1-8024-8004-919e42082cb9" style="display:none">
                <defs></defs>
                <g class="fills" id="fills-324daca8-8ee1-8024-8004-919e42082cb9">
                  <rect rx="0" ry="0" x="2515" y="876.9999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#38a169;fill-opacity:1"></rect>
                </g>
              </g>
              <g id="shape-324daca8-8ee1-8024-8004-919e42082cba">
                <defs></defs>
                <g class="fills" id="fills-324daca8-8ee1-8024-8004-919e42082cba">
                  <path d="M2532.65673828125,885.9622192382812L2531.2392578125,887.3731079101562L2527.984375,884.1028442382812L2527.970703125,897.7078857421875L2525.970703125,897.7058715820312L2525.984375,884.1380615234375L2522.754150390625,887.3532104492188L2521.34326171875,885.9357299804688L2527.01318359375,880.2921142578125L2532.65673828125,885.9622192382812Z" style="fill:#38a169;fill-opacity:1"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- frame: header -->
<div class="frame header-88cca5bf19e9">
  <!-- text: Revenue -->
  <div class="shape text revenue-88cca5bf6b0b">
    <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cca5bf6b0b" data-x="2224" data-y="694.9999999999999">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Revenue</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: options -->
  <div class="frame options-88cca5bf19ea">
    <!-- frame: icon button -->
    <div class="frame icon-butto-88cca5bf19eb">
      <!-- frame: Icons / chevron-down -->
      <div class="frame icons-ch-8e03a9ec2faa">
        <!-- group: icon / chevron-down -->
        <div class="shape group icon-che-8e03a9ec2fab">
          <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fab" viewBox="2505 696 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
            <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fab" style="fill:#000000" rx="0" ry="0">
              <defs></defs>
              <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fac" style="display:none">
                <defs></defs>
                <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fac">
                  <rect rx="0" ry="0" x="2505" y="695.9999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#2a4365;fill-opacity:1"></rect>
                </g>
              </g>
              <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fad">
                <defs></defs>
                <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fad">
                  <path d="M2511.34326171875,703.75732421875L2509.928955078125,705.1715698242188L2517,712.2426147460938L2524.071044921875,705.1715698242188L2522.656982421875,703.75732421875L2517,709.4141845703125L2511.34326171875,703.75732421875Z" style="fill:#2a4365;fill-opacity:1"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- frame: medium number -->
<div class="frame medium-num-88cc43c4da5f">
  <!-- text: €90,200 -->
  <div class="shape text c-90200-88cc43c4da61">
    <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cc43c4da61" data-x="2224" data-y="739.9999999999999">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">€90,200</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- text: .00 -->
  <div class="shape text c-00-88cd3f02238b">
    <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cd3f02238b" data-x="2421" data-y="739.9999999999999">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">.00</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: Graph elements / comparison / going up -->
  <div class="frame graph-elem-88cc43c4da60">
    <!-- text: +15% -->
    <div class="shape text c-15-88cc43c4da63">
      <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cc43c4da63" data-x="2476" data-y="880.9999999999999">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">+15%</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- frame: icon / arrows / arrow-up -->
    <div class="frame icon-arr-919e42082cb7">
      <!-- group: icon / arrow-up -->
      <div class="shape group icon-arr-919e42082cb8">
        <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-324daca8-8ee1-8024-8004-919e42082cb8" viewBox="2515 877 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
          <g id="shape-324daca8-8ee1-8024-8004-919e42082cb8" style="fill:#000000" rx="0" ry="0">
            <defs></defs>
            <g id="shape-324daca8-8ee1-8024-8004-919e42082cb9" style="display:none">
              <defs></defs>
              <g class="fills" id="fills-324daca8-8ee1-8024-8004-919e42082cb9">
                <rect rx="0" ry="0" x="2515" y="876.9999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#38a169;fill-opacity:1"></rect>
              </g>
            </g>
            <g id="shape-324daca8-8ee1-8024-8004-919e42082cba">
              <defs></defs>
              <g class="fills" id="fills-324daca8-8ee1-8024-8004-919e42082cba">
                <path d="M2532.65673828125,885.9622192382812L2531.2392578125,887.3731079101562L2527.984375,884.1028442382812L2527.970703125,897.7078857421875L2525.970703125,897.7058715820312L2525.984375,884.1380615234375L2522.754150390625,887.3532104492188L2521.34326171875,885.9357299804688L2527.01318359375,880.2921142578125L2532.65673828125,885.9622192382812Z" style="fill:#38a169;fill-opacity:1"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
<!-- frame: Graph elements / comparison / going up -->
<div class="frame graph-elem-88cc43c4da60">
  <!-- text: +15% -->
  <div class="shape text c-15-88cc43c4da63">
    <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cc43c4da63" data-x="2476" data-y="880.9999999999999">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">+15%</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: icon / arrows / arrow-up -->
  <div class="frame icon-arr-919e42082cb7">
    <!-- group: icon / arrow-up -->
    <div class="shape group icon-arr-919e42082cb8">
      <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-324daca8-8ee1-8024-8004-919e42082cb8" viewBox="2515 877 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
        <g id="shape-324daca8-8ee1-8024-8004-919e42082cb8" style="fill:#000000" rx="0" ry="0">
          <defs></defs>
          <g id="shape-324daca8-8ee1-8024-8004-919e42082cb9" style="display:none">
            <defs></defs>
            <g class="fills" id="fills-324daca8-8ee1-8024-8004-919e42082cb9">
              <rect rx="0" ry="0" x="2515" y="876.9999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#38a169;fill-opacity:1"></rect>
            </g>
          </g>
          <g id="shape-324daca8-8ee1-8024-8004-919e42082cba">
            <defs></defs>
            <g class="fills" id="fills-324daca8-8ee1-8024-8004-919e42082cba">
              <path d="M2532.65673828125,885.9622192382812L2531.2392578125,887.3731079101562L2527.984375,884.1028442382812L2527.970703125,897.7078857421875L2525.970703125,897.7058715820312L2525.984375,884.1380615234375L2522.754150390625,887.3532104492188L2521.34326171875,885.9357299804688L2527.01318359375,880.2921142578125L2532.65673828125,885.9622192382812Z" style="fill:#38a169;fill-opacity:1"></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>
<!-- text: .00 -->
<div class="shape text c-00-88cd3f02238b">
  <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cd3f02238b" data-x="2421" data-y="739.9999999999999">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">.00</span></p>
      </div>
    </div>
  </div>
</div>
<!-- text: €90,200 -->
<div class="shape text c-90200-88cc43c4da61">
  <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cc43c4da61" data-x="2224" data-y="739.9999999999999">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">€90,200</span></p>
      </div>
    </div>
  </div>
</div>
<!-- frame: icon / arrows / arrow-up -->
<div class="frame icon-arr-919e42082cb7">
  <!-- group: icon / arrow-up -->
  <div class="shape group icon-arr-919e42082cb8">
    <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-324daca8-8ee1-8024-8004-919e42082cb8" viewBox="2515 877 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
      <g id="shape-324daca8-8ee1-8024-8004-919e42082cb8" style="fill:#000000" rx="0" ry="0">
        <defs></defs>
        <g id="shape-324daca8-8ee1-8024-8004-919e42082cb9" style="display:none">
          <defs></defs>
          <g class="fills" id="fills-324daca8-8ee1-8024-8004-919e42082cb9">
            <rect rx="0" ry="0" x="2515" y="876.9999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#38a169;fill-opacity:1"></rect>
          </g>
        </g>
        <g id="shape-324daca8-8ee1-8024-8004-919e42082cba">
          <defs></defs>
          <g class="fills" id="fills-324daca8-8ee1-8024-8004-919e42082cba">
            <path d="M2532.65673828125,885.9622192382812L2531.2392578125,887.3731079101562L2527.984375,884.1028442382812L2527.970703125,897.7078857421875L2525.970703125,897.7058715820312L2525.984375,884.1380615234375L2522.754150390625,887.3532104492188L2521.34326171875,885.9357299804688L2527.01318359375,880.2921142578125L2532.65673828125,885.9622192382812Z" style="fill:#38a169;fill-opacity:1"></path>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
<!-- text: +15% -->
<div class="shape text c-15-88cc43c4da63">
  <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cc43c4da63" data-x="2476" data-y="880.9999999999999">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">+15%</span></p>
      </div>
    </div>
  </div>
</div>
<!-- group: icon / arrow-up -->
<div class="shape group icon-arr-919e42082cb8">
  <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-324daca8-8ee1-8024-8004-919e42082cb8" viewBox="2515 877 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
    <g id="shape-324daca8-8ee1-8024-8004-919e42082cb8" style="fill:#000000" rx="0" ry="0">
      <defs></defs>
      <g id="shape-324daca8-8ee1-8024-8004-919e42082cb9" style="display:none">
        <defs></defs>
        <g class="fills" id="fills-324daca8-8ee1-8024-8004-919e42082cb9">
          <rect rx="0" ry="0" x="2515" y="876.9999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#38a169;fill-opacity:1"></rect>
        </g>
      </g>
      <g id="shape-324daca8-8ee1-8024-8004-919e42082cba">
        <defs></defs>
        <g class="fills" id="fills-324daca8-8ee1-8024-8004-919e42082cba">
          <path d="M2532.65673828125,885.9622192382812L2531.2392578125,887.3731079101562L2527.984375,884.1028442382812L2527.970703125,897.7078857421875L2525.970703125,897.7058715820312L2525.984375,884.1380615234375L2522.754150390625,887.3532104492188L2521.34326171875,885.9357299804688L2527.01318359375,880.2921142578125L2532.65673828125,885.9622192382812Z" style="fill:#38a169;fill-opacity:1"></path>
        </g>
      </g>
    </g>
  </svg>
</div>
<!-- rect: base-background -->
<div class="shape rect basebackg-919e42082cb9">
  <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-324daca8-8ee1-8024-8004-919e42082cb9" viewBox="2515 877 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
    <g id="shape-324daca8-8ee1-8024-8004-919e42082cb9" style="display:none">
      <defs></defs>
      <g class="fills" id="fills-324daca8-8ee1-8024-8004-919e42082cb9">
        <rect rx="0" ry="0" x="2515" y="876.9999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#38a169;fill-opacity:1"></rect>
      </g>
    </g>
  </svg>
</div>
<!-- path: svg-path -->
<div class="shape path svgpath-919e42082cba">
  <svg width="11.314" xmlns="http://www.w3.org/2000/svg" height="17.416" id="screenshot-324daca8-8ee1-8024-8004-919e42082cba" viewBox="2521.343 880.292 11.314 17.416" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
    <g id="shape-324daca8-8ee1-8024-8004-919e42082cba">
      <defs></defs>
      <g class="fills" id="fills-324daca8-8ee1-8024-8004-919e42082cba">
        <path d="M2532.65673828125,885.9622192382812L2531.2392578125,887.3731079101562L2527.984375,884.1028442382812L2527.970703125,897.7078857421875L2525.970703125,897.7058715820312L2525.984375,884.1380615234375L2522.754150390625,887.3532104492188L2521.34326171875,885.9357299804688L2527.01318359375,880.2921142578125L2532.65673828125,885.9622192382812Z" style="fill:#38a169;fill-opacity:1"></path>
      </g>
    </g>
  </svg>
</div>
<!-- frame: options -->
<div class="frame options-88cca5bf19ea">
  <!-- frame: icon button -->
  <div class="frame icon-butto-88cca5bf19eb">
    <!-- frame: Icons / chevron-down -->
    <div class="frame icons-ch-8e03a9ec2faa">
      <!-- group: icon / chevron-down -->
      <div class="shape group icon-che-8e03a9ec2fab">
        <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fab" viewBox="2505 696 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
          <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fab" style="fill:#000000" rx="0" ry="0">
            <defs></defs>
            <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fac" style="display:none">
              <defs></defs>
              <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fac">
                <rect rx="0" ry="0" x="2505" y="695.9999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#2a4365;fill-opacity:1"></rect>
              </g>
            </g>
            <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fad">
              <defs></defs>
              <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fad">
                <path d="M2511.34326171875,703.75732421875L2509.928955078125,705.1715698242188L2517,712.2426147460938L2524.071044921875,705.1715698242188L2522.656982421875,703.75732421875L2517,709.4141845703125L2511.34326171875,703.75732421875Z" style="fill:#2a4365;fill-opacity:1"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
<!-- text: Revenue -->
<div class="shape text revenue-88cca5bf6b0b">
  <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88cca5bf6b0b" data-x="2224" data-y="694.9999999999999">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Revenue</span></p>
      </div>
    </div>
  </div>
</div>
<!-- frame: icon button -->
<div class="frame icon-butto-88cca5bf19eb">
  <!-- frame: Icons / chevron-down -->
  <div class="frame icons-ch-8e03a9ec2faa">
    <!-- group: icon / chevron-down -->
    <div class="shape group icon-che-8e03a9ec2fab">
      <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fab" viewBox="2505 696 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
        <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fab" style="fill:#000000" rx="0" ry="0">
          <defs></defs>
          <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fac" style="display:none">
            <defs></defs>
            <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fac">
              <rect rx="0" ry="0" x="2505" y="695.9999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#2a4365;fill-opacity:1"></rect>
            </g>
          </g>
          <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fad">
            <defs></defs>
            <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fad">
              <path d="M2511.34326171875,703.75732421875L2509.928955078125,705.1715698242188L2517,712.2426147460938L2524.071044921875,705.1715698242188L2522.656982421875,703.75732421875L2517,709.4141845703125L2511.34326171875,703.75732421875Z" style="fill:#2a4365;fill-opacity:1"></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>
<!-- frame: Icons / chevron-down -->
<div class="frame icons-ch-8e03a9ec2faa">
  <!-- group: icon / chevron-down -->
  <div class="shape group icon-che-8e03a9ec2fab">
    <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fab" viewBox="2505 696 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
      <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fab" style="fill:#000000" rx="0" ry="0">
        <defs></defs>
        <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fac" style="display:none">
          <defs></defs>
          <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fac">
            <rect rx="0" ry="0" x="2505" y="695.9999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#2a4365;fill-opacity:1"></rect>
          </g>
        </g>
        <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fad">
          <defs></defs>
          <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fad">
            <path d="M2511.34326171875,703.75732421875L2509.928955078125,705.1715698242188L2517,712.2426147460938L2524.071044921875,705.1715698242188L2522.656982421875,703.75732421875L2517,709.4141845703125L2511.34326171875,703.75732421875Z" style="fill:#2a4365;fill-opacity:1"></path>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
<!-- group: icon / chevron-down -->
<div class="shape group icon-che-8e03a9ec2fab">
  <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fab" viewBox="2505 696 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
    <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fab" style="fill:#000000" rx="0" ry="0">
      <defs></defs>
      <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fac" style="display:none">
        <defs></defs>
        <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fac">
          <rect rx="0" ry="0" x="2505" y="695.9999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#2a4365;fill-opacity:1"></rect>
        </g>
      </g>
      <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fad">
        <defs></defs>
        <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fad">
          <path d="M2511.34326171875,703.75732421875L2509.928955078125,705.1715698242188L2517,712.2426147460938L2524.071044921875,705.1715698242188L2522.656982421875,703.75732421875L2517,709.4141845703125L2511.34326171875,703.75732421875Z" style="fill:#2a4365;fill-opacity:1"></path>
        </g>
      </g>
    </g>
  </svg>
</div>
<!-- rect: base-background -->
<div class="shape rect basebackg-8e03a9ec2fac">
  <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fac" viewBox="2505 696 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
    <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fac" style="display:none">
      <defs></defs>
      <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fac">
        <rect rx="0" ry="0" x="2505" y="695.9999999999999" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#2a4365;fill-opacity:1"></rect>
      </g>
    </g>
  </svg>
</div>
<!-- path: svg-path -->
<div class="shape path svgpath-8e03a9ec2fad">
  <svg width="14.142" xmlns="http://www.w3.org/2000/svg" height="8.485" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fad" viewBox="2509.929 703.757 14.142 8.485" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
    <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fad">
      <defs></defs>
      <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fad">
        <path d="M2511.34326171875,703.75732421875L2509.928955078125,705.1715698242188L2517,712.2426147460938L2524.071044921875,705.1715698242188L2522.656982421875,703.75732421875L2517,709.4141845703125L2511.34326171875,703.75732421875Z" style="fill:#2a4365;fill-opacity:1"></path>
      </g>
    </g>
  </svg>
</div>