<!-- Component: Cards / content / Progress to target -->

<!-- frame: Cards / content / Progress to target -->
<div class="frame cards-co-89ede49b6e01">
  <!-- frame: header -->
  <div class="frame header-89ede49b6e03">
    <!-- text: Current progress -->
    <div class="shape text current-pr-89ede49b6e17">
      <div class="text-node-html" id="html-text-node-18dba8d0-2e1c-80d9-8004-89ede49b6e17" data-x="2224" data-y="360">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Current progress</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- frame: options -->
    <div class="frame options-89ede49b6e16">
      <!-- frame: Buttons / icon button -->
      <div class="frame buttons-89ede49b6e18">
        <!-- frame: Icons / chevron-down -->
        <div class="frame icons-ch-8e03a9eb92c3">
          <!-- group: icon / chevron-down -->
          <div class="shape group icon-che-8e03a9eb92c4">
            <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eb92c4" viewBox="2505 361 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
              <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c4" style="fill:#000000" rx="0" ry="0">
                <defs></defs>
                <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c5" style="display:none">
                  <defs></defs>
                  <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eb92c5">
                    <rect rx="0" ry="0" x="2505" y="361" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#4a5568;fill-opacity:1"></rect>
                  </g>
                </g>
                <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c6">
                  <defs></defs>
                  <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eb92c6">
                    <path d="M2511.34326171875,368.75732421875L2509.928955078125,370.1715393066406L2517,377.24261474609375L2524.071044921875,370.17156982421875L2522.656982421875,368.7573547363281L2517,374.4142150878906L2511.34326171875,368.75732421875Z" style="fill:#4a5568;fill-opacity:1"></path>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: content -->
  <div class="frame content-89ede49b6e02">
    <!-- frame: data -->
    <div class="frame data-89ede49b6e05">
      <!-- text: 75% to €120,000 target -->
      <div class="shape text c-75-to-12-89ede49b6e15">
        <div class="text-node-html" id="html-text-node-18dba8d0-2e1c-80d9-8004-89ede49b6e15" data-x="2224" data-y="509">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">75% to €120,000 target</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- frame: Graph elements / progress bar / 75% -->
    <div class="frame graph-elem-89ede49b6e04">
      <!-- frame: progress level 100% -->
      <div class="frame progress-l-89ede49b6e09">
        <!-- rect: progress -->
        <div class="shape rect progress-89ede49b6e14">
        </div>
      </div>
      <!-- frame: progress level 75% -->
      <div class="frame progress-l-89ede49b6e08">
        <!-- rect: progress -->
        <div class="shape rect progress-89ede49b6e13">
        </div>
        <!-- rect: progress -->
        <div class="shape rect progress-89ede49b6e12">
        </div>
        <!-- rect: progress -->
        <div class="shape rect progress-89ede49b6e11">
        </div>
        <!-- rect: remaining -->
        <div class="shape rect remaining-89ede49b6e10">
        </div>
      </div>
      <!-- frame: progress level 50% -->
      <div class="frame progress-l-89ede49b6e07">
        <!-- rect: progress -->
        <div class="shape rect progress-89ede49b6e0f">
        </div>
        <!-- rect: remaining -->
        <div class="shape rect remaining-89ede49b6e0e">
        </div>
      </div>
      <!-- frame: progress level 25% -->
      <div class="frame progress-l-89ede49b6e06">
        <!-- rect: progress -->
        <div class="shape rect progress-89ede49b6e0d">
        </div>
        <!-- rect: remaining -->
        <div class="shape rect remaining-89ede49b6e0c">
        </div>
        <!-- rect: remaining -->
        <div class="shape rect remaining-89ede49b6e0b">
        </div>
        <!-- rect: remaining -->
        <div class="shape rect remaining-89ede49b6e0a">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- frame: content -->
<div class="frame content-89ede49b6e02">
  <!-- frame: data -->
  <div class="frame data-89ede49b6e05">
    <!-- text: 75% to €120,000 target -->
    <div class="shape text c-75-to-12-89ede49b6e15">
      <div class="text-node-html" id="html-text-node-18dba8d0-2e1c-80d9-8004-89ede49b6e15" data-x="2224" data-y="509">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">75% to €120,000 target</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: Graph elements / progress bar / 75% -->
  <div class="frame graph-elem-89ede49b6e04">
    <!-- frame: progress level 100% -->
    <div class="frame progress-l-89ede49b6e09">
      <!-- rect: progress -->
      <div class="shape rect progress-89ede49b6e14">
      </div>
    </div>
    <!-- frame: progress level 75% -->
    <div class="frame progress-l-89ede49b6e08">
      <!-- rect: progress -->
      <div class="shape rect progress-89ede49b6e13">
      </div>
      <!-- rect: progress -->
      <div class="shape rect progress-89ede49b6e12">
      </div>
      <!-- rect: progress -->
      <div class="shape rect progress-89ede49b6e11">
      </div>
      <!-- rect: remaining -->
      <div class="shape rect remaining-89ede49b6e10">
      </div>
    </div>
    <!-- frame: progress level 50% -->
    <div class="frame progress-l-89ede49b6e07">
      <!-- rect: progress -->
      <div class="shape rect progress-89ede49b6e0f">
      </div>
      <!-- rect: remaining -->
      <div class="shape rect remaining-89ede49b6e0e">
      </div>
    </div>
    <!-- frame: progress level 25% -->
    <div class="frame progress-l-89ede49b6e06">
      <!-- rect: progress -->
      <div class="shape rect progress-89ede49b6e0d">
      </div>
      <!-- rect: remaining -->
      <div class="shape rect remaining-89ede49b6e0c">
      </div>
      <!-- rect: remaining -->
      <div class="shape rect remaining-89ede49b6e0b">
      </div>
      <!-- rect: remaining -->
      <div class="shape rect remaining-89ede49b6e0a">
      </div>
    </div>
  </div>
</div>
<!-- frame: header -->
<div class="frame header-89ede49b6e03">
  <!-- text: Current progress -->
  <div class="shape text current-pr-89ede49b6e17">
    <div class="text-node-html" id="html-text-node-18dba8d0-2e1c-80d9-8004-89ede49b6e17" data-x="2224" data-y="360">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Current progress</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: options -->
  <div class="frame options-89ede49b6e16">
    <!-- frame: Buttons / icon button -->
    <div class="frame buttons-89ede49b6e18">
      <!-- frame: Icons / chevron-down -->
      <div class="frame icons-ch-8e03a9eb92c3">
        <!-- group: icon / chevron-down -->
        <div class="shape group icon-che-8e03a9eb92c4">
          <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eb92c4" viewBox="2505 361 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
            <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c4" style="fill:#000000" rx="0" ry="0">
              <defs></defs>
              <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c5" style="display:none">
                <defs></defs>
                <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eb92c5">
                  <rect rx="0" ry="0" x="2505" y="361" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#4a5568;fill-opacity:1"></rect>
                </g>
              </g>
              <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c6">
                <defs></defs>
                <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eb92c6">
                  <path d="M2511.34326171875,368.75732421875L2509.928955078125,370.1715393066406L2517,377.24261474609375L2524.071044921875,370.17156982421875L2522.656982421875,368.7573547363281L2517,374.4142150878906L2511.34326171875,368.75732421875Z" style="fill:#4a5568;fill-opacity:1"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- frame: Graph elements / progress bar / 75% -->
<div class="frame graph-elem-89ede49b6e04">
  <!-- frame: progress level 100% -->
  <div class="frame progress-l-89ede49b6e09">
    <!-- rect: progress -->
    <div class="shape rect progress-89ede49b6e14">
    </div>
  </div>
  <!-- frame: progress level 75% -->
  <div class="frame progress-l-89ede49b6e08">
    <!-- rect: progress -->
    <div class="shape rect progress-89ede49b6e13">
    </div>
    <!-- rect: progress -->
    <div class="shape rect progress-89ede49b6e12">
    </div>
    <!-- rect: progress -->
    <div class="shape rect progress-89ede49b6e11">
    </div>
    <!-- rect: remaining -->
    <div class="shape rect remaining-89ede49b6e10">
    </div>
  </div>
  <!-- frame: progress level 50% -->
  <div class="frame progress-l-89ede49b6e07">
    <!-- rect: progress -->
    <div class="shape rect progress-89ede49b6e0f">
    </div>
    <!-- rect: remaining -->
    <div class="shape rect remaining-89ede49b6e0e">
    </div>
  </div>
  <!-- frame: progress level 25% -->
  <div class="frame progress-l-89ede49b6e06">
    <!-- rect: progress -->
    <div class="shape rect progress-89ede49b6e0d">
    </div>
    <!-- rect: remaining -->
    <div class="shape rect remaining-89ede49b6e0c">
    </div>
    <!-- rect: remaining -->
    <div class="shape rect remaining-89ede49b6e0b">
    </div>
    <!-- rect: remaining -->
    <div class="shape rect remaining-89ede49b6e0a">
    </div>
  </div>
</div>
<!-- frame: data -->
<div class="frame data-89ede49b6e05">
  <!-- text: 75% to €120,000 target -->
  <div class="shape text c-75-to-12-89ede49b6e15">
    <div class="text-node-html" id="html-text-node-18dba8d0-2e1c-80d9-8004-89ede49b6e15" data-x="2224" data-y="509">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">75% to €120,000 target</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- frame: progress level 25% -->
<div class="frame progress-l-89ede49b6e06">
  <!-- rect: progress -->
  <div class="shape rect progress-89ede49b6e0d">
  </div>
  <!-- rect: remaining -->
  <div class="shape rect remaining-89ede49b6e0c">
  </div>
  <!-- rect: remaining -->
  <div class="shape rect remaining-89ede49b6e0b">
  </div>
  <!-- rect: remaining -->
  <div class="shape rect remaining-89ede49b6e0a">
  </div>
</div>
<!-- frame: progress level 50% -->
<div class="frame progress-l-89ede49b6e07">
  <!-- rect: progress -->
  <div class="shape rect progress-89ede49b6e0f">
  </div>
  <!-- rect: remaining -->
  <div class="shape rect remaining-89ede49b6e0e">
  </div>
</div>
<!-- frame: progress level 75% -->
<div class="frame progress-l-89ede49b6e08">
  <!-- rect: progress -->
  <div class="shape rect progress-89ede49b6e13">
  </div>
  <!-- rect: progress -->
  <div class="shape rect progress-89ede49b6e12">
  </div>
  <!-- rect: progress -->
  <div class="shape rect progress-89ede49b6e11">
  </div>
  <!-- rect: remaining -->
  <div class="shape rect remaining-89ede49b6e10">
  </div>
</div>
<!-- frame: progress level 100% -->
<div class="frame progress-l-89ede49b6e09">
  <!-- rect: progress -->
  <div class="shape rect progress-89ede49b6e14">
  </div>
</div>
<!-- rect: remaining -->
<div class="shape rect remaining-89ede49b6e0a">
</div>
<!-- rect: remaining -->
<div class="shape rect remaining-89ede49b6e0b">
</div>
<!-- rect: remaining -->
<div class="shape rect remaining-89ede49b6e0c">
</div>
<!-- rect: progress -->
<div class="shape rect progress-89ede49b6e0d">
</div>
<!-- rect: remaining -->
<div class="shape rect remaining-89ede49b6e0e">
</div>
<!-- rect: progress -->
<div class="shape rect progress-89ede49b6e0f">
</div>
<!-- rect: remaining -->
<div class="shape rect remaining-89ede49b6e10">
</div>
<!-- rect: progress -->
<div class="shape rect progress-89ede49b6e11">
</div>
<!-- rect: progress -->
<div class="shape rect progress-89ede49b6e12">
</div>
<!-- rect: progress -->
<div class="shape rect progress-89ede49b6e13">
</div>
<!-- rect: progress -->
<div class="shape rect progress-89ede49b6e14">
</div>
<!-- text: 75% to €120,000 target -->
<div class="shape text c-75-to-12-89ede49b6e15">
  <div class="text-node-html" id="html-text-node-18dba8d0-2e1c-80d9-8004-89ede49b6e15" data-x="2224" data-y="509">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">75% to €120,000 target</span></p>
      </div>
    </div>
  </div>
</div>
<!-- frame: options -->
<div class="frame options-89ede49b6e16">
  <!-- frame: Buttons / icon button -->
  <div class="frame buttons-89ede49b6e18">
    <!-- frame: Icons / chevron-down -->
    <div class="frame icons-ch-8e03a9eb92c3">
      <!-- group: icon / chevron-down -->
      <div class="shape group icon-che-8e03a9eb92c4">
        <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eb92c4" viewBox="2505 361 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
          <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c4" style="fill:#000000" rx="0" ry="0">
            <defs></defs>
            <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c5" style="display:none">
              <defs></defs>
              <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eb92c5">
                <rect rx="0" ry="0" x="2505" y="361" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#4a5568;fill-opacity:1"></rect>
              </g>
            </g>
            <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c6">
              <defs></defs>
              <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eb92c6">
                <path d="M2511.34326171875,368.75732421875L2509.928955078125,370.1715393066406L2517,377.24261474609375L2524.071044921875,370.17156982421875L2522.656982421875,368.7573547363281L2517,374.4142150878906L2511.34326171875,368.75732421875Z" style="fill:#4a5568;fill-opacity:1"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
<!-- text: Current progress -->
<div class="shape text current-pr-89ede49b6e17">
  <div class="text-node-html" id="html-text-node-18dba8d0-2e1c-80d9-8004-89ede49b6e17" data-x="2224" data-y="360">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Current progress</span></p>
      </div>
    </div>
  </div>
</div>
<!-- frame: Buttons / icon button -->
<div class="frame buttons-89ede49b6e18">
  <!-- frame: Icons / chevron-down -->
  <div class="frame icons-ch-8e03a9eb92c3">
    <!-- group: icon / chevron-down -->
    <div class="shape group icon-che-8e03a9eb92c4">
      <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eb92c4" viewBox="2505 361 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
        <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c4" style="fill:#000000" rx="0" ry="0">
          <defs></defs>
          <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c5" style="display:none">
            <defs></defs>
            <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eb92c5">
              <rect rx="0" ry="0" x="2505" y="361" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#4a5568;fill-opacity:1"></rect>
            </g>
          </g>
          <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c6">
            <defs></defs>
            <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eb92c6">
              <path d="M2511.34326171875,368.75732421875L2509.928955078125,370.1715393066406L2517,377.24261474609375L2524.071044921875,370.17156982421875L2522.656982421875,368.7573547363281L2517,374.4142150878906L2511.34326171875,368.75732421875Z" style="fill:#4a5568;fill-opacity:1"></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>
<!-- frame: Icons / chevron-down -->
<div class="frame icons-ch-8e03a9eb92c3">
  <!-- group: icon / chevron-down -->
  <div class="shape group icon-che-8e03a9eb92c4">
    <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eb92c4" viewBox="2505 361 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
      <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c4" style="fill:#000000" rx="0" ry="0">
        <defs></defs>
        <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c5" style="display:none">
          <defs></defs>
          <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eb92c5">
            <rect rx="0" ry="0" x="2505" y="361" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#4a5568;fill-opacity:1"></rect>
          </g>
        </g>
        <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c6">
          <defs></defs>
          <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eb92c6">
            <path d="M2511.34326171875,368.75732421875L2509.928955078125,370.1715393066406L2517,377.24261474609375L2524.071044921875,370.17156982421875L2522.656982421875,368.7573547363281L2517,374.4142150878906L2511.34326171875,368.75732421875Z" style="fill:#4a5568;fill-opacity:1"></path>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
<!-- group: icon / chevron-down -->
<div class="shape group icon-che-8e03a9eb92c4">
  <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eb92c4" viewBox="2505 361 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
    <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c4" style="fill:#000000" rx="0" ry="0">
      <defs></defs>
      <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c5" style="display:none">
        <defs></defs>
        <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eb92c5">
          <rect rx="0" ry="0" x="2505" y="361" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#4a5568;fill-opacity:1"></rect>
        </g>
      </g>
      <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c6">
        <defs></defs>
        <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eb92c6">
          <path d="M2511.34326171875,368.75732421875L2509.928955078125,370.1715393066406L2517,377.24261474609375L2524.071044921875,370.17156982421875L2522.656982421875,368.7573547363281L2517,374.4142150878906L2511.34326171875,368.75732421875Z" style="fill:#4a5568;fill-opacity:1"></path>
        </g>
      </g>
    </g>
  </svg>
</div>
<!-- rect: base-background -->
<div class="shape rect basebackg-8e03a9eb92c5">
  <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eb92c5" viewBox="2505 361 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
    <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c5" style="display:none">
      <defs></defs>
      <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eb92c5">
        <rect rx="0" ry="0" x="2505" y="361" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#4a5568;fill-opacity:1"></rect>
      </g>
    </g>
  </svg>
</div>
<!-- path: svg-path -->
<div class="shape path svgpath-8e03a9eb92c6">
  <svg width="14.142" xmlns="http://www.w3.org/2000/svg" height="8.485" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eb92c6" viewBox="2509.929 368.757 14.142 8.485" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
    <g id="shape-ad03169f-c56c-8064-8004-8e03a9eb92c6">
      <defs></defs>
      <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eb92c6">
        <path d="M2511.34326171875,368.75732421875L2509.928955078125,370.1715393066406L2517,377.24261474609375L2524.071044921875,370.17156982421875L2522.656982421875,368.7573547363281L2517,374.4142150878906L2511.34326171875,368.75732421875Z" style="fill:#4a5568;fill-opacity:1"></path>
      </g>
    </g>
  </svg>
</div>