<!-- Component: Cards / empty / blue -->

<!-- frame: Cards / empty / blue -->
<div class="frame cards-em-88c6bf372063">
  <!-- frame: header -->
  <div class="frame header-88c6bf372065">
    <!-- text: Heading 2 -->
    <div class="shape text heading-2-88c6bf37206d">
      <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88c6bf37206d" data-x="1482" data-y="564">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Heading 2</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- frame: options -->
    <div class="frame options-88c6bf372066">
      <!-- frame: Buttons / icon button -->
      <div class="frame buttons-88c6bf372067">
        <!-- frame: Icons / chevron-down -->
        <div class="frame icons-ch-8e03a9ec2fa5">
          <!-- group: icon / chevron-down -->
          <div class="shape group icon-che-8e03a9ec2fa6">
            <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fa6" viewBox="1678 565 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
              <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa6" style="fill:#000000" rx="0" ry="0">
                <defs></defs>
                <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa7" style="display:none">
                  <defs></defs>
                  <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fa7">
                    <rect rx="0" ry="0" x="1678" y="565" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#2a4365;fill-opacity:1"></rect>
                  </g>
                </g>
                <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa8">
                  <defs></defs>
                  <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fa8">
                    <path d="M1684.3431396484375,572.75732421875L1682.928955078125,574.1715698242188L1690,581.2426147460938L1697.071044921875,574.1715698242188L1695.6568603515625,572.75732421875L1690,578.4141845703125L1684.3431396484375,572.75732421875Z" style="fill:#2a4365;fill-opacity:1"></path>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: content -->
  <div class="shape frame content-88c6bf372064">
  </div>
</div>
<!-- frame: content -->
<div class="shape frame content-88c6bf372064">
</div>
<!-- frame: header -->
<div class="frame header-88c6bf372065">
  <!-- text: Heading 2 -->
  <div class="shape text heading-2-88c6bf37206d">
    <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88c6bf37206d" data-x="1482" data-y="564">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Heading 2</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: options -->
  <div class="frame options-88c6bf372066">
    <!-- frame: Buttons / icon button -->
    <div class="frame buttons-88c6bf372067">
      <!-- frame: Icons / chevron-down -->
      <div class="frame icons-ch-8e03a9ec2fa5">
        <!-- group: icon / chevron-down -->
        <div class="shape group icon-che-8e03a9ec2fa6">
          <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fa6" viewBox="1678 565 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
            <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa6" style="fill:#000000" rx="0" ry="0">
              <defs></defs>
              <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa7" style="display:none">
                <defs></defs>
                <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fa7">
                  <rect rx="0" ry="0" x="1678" y="565" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#2a4365;fill-opacity:1"></rect>
                </g>
              </g>
              <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa8">
                <defs></defs>
                <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fa8">
                  <path d="M1684.3431396484375,572.75732421875L1682.928955078125,574.1715698242188L1690,581.2426147460938L1697.071044921875,574.1715698242188L1695.6568603515625,572.75732421875L1690,578.4141845703125L1684.3431396484375,572.75732421875Z" style="fill:#2a4365;fill-opacity:1"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- frame: options -->
<div class="frame options-88c6bf372066">
  <!-- frame: Buttons / icon button -->
  <div class="frame buttons-88c6bf372067">
    <!-- frame: Icons / chevron-down -->
    <div class="frame icons-ch-8e03a9ec2fa5">
      <!-- group: icon / chevron-down -->
      <div class="shape group icon-che-8e03a9ec2fa6">
        <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fa6" viewBox="1678 565 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
          <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa6" style="fill:#000000" rx="0" ry="0">
            <defs></defs>
            <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa7" style="display:none">
              <defs></defs>
              <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fa7">
                <rect rx="0" ry="0" x="1678" y="565" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#2a4365;fill-opacity:1"></rect>
              </g>
            </g>
            <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa8">
              <defs></defs>
              <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fa8">
                <path d="M1684.3431396484375,572.75732421875L1682.928955078125,574.1715698242188L1690,581.2426147460938L1697.071044921875,574.1715698242188L1695.6568603515625,572.75732421875L1690,578.4141845703125L1684.3431396484375,572.75732421875Z" style="fill:#2a4365;fill-opacity:1"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
<!-- text: Heading 2 -->
<div class="shape text heading-2-88c6bf37206d">
  <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88c6bf37206d" data-x="1482" data-y="564">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Heading 2</span></p>
      </div>
    </div>
  </div>
</div>
<!-- frame: Buttons / icon button -->
<div class="frame buttons-88c6bf372067">
  <!-- frame: Icons / chevron-down -->
  <div class="frame icons-ch-8e03a9ec2fa5">
    <!-- group: icon / chevron-down -->
    <div class="shape group icon-che-8e03a9ec2fa6">
      <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fa6" viewBox="1678 565 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
        <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa6" style="fill:#000000" rx="0" ry="0">
          <defs></defs>
          <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa7" style="display:none">
            <defs></defs>
            <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fa7">
              <rect rx="0" ry="0" x="1678" y="565" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#2a4365;fill-opacity:1"></rect>
            </g>
          </g>
          <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa8">
            <defs></defs>
            <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fa8">
              <path d="M1684.3431396484375,572.75732421875L1682.928955078125,574.1715698242188L1690,581.2426147460938L1697.071044921875,574.1715698242188L1695.6568603515625,572.75732421875L1690,578.4141845703125L1684.3431396484375,572.75732421875Z" style="fill:#2a4365;fill-opacity:1"></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>
<!-- frame: Icons / chevron-down -->
<div class="frame icons-ch-8e03a9ec2fa5">
  <!-- group: icon / chevron-down -->
  <div class="shape group icon-che-8e03a9ec2fa6">
    <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fa6" viewBox="1678 565 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
      <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa6" style="fill:#000000" rx="0" ry="0">
        <defs></defs>
        <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa7" style="display:none">
          <defs></defs>
          <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fa7">
            <rect rx="0" ry="0" x="1678" y="565" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#2a4365;fill-opacity:1"></rect>
          </g>
        </g>
        <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa8">
          <defs></defs>
          <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fa8">
            <path d="M1684.3431396484375,572.75732421875L1682.928955078125,574.1715698242188L1690,581.2426147460938L1697.071044921875,574.1715698242188L1695.6568603515625,572.75732421875L1690,578.4141845703125L1684.3431396484375,572.75732421875Z" style="fill:#2a4365;fill-opacity:1"></path>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
<!-- group: icon / chevron-down -->
<div class="shape group icon-che-8e03a9ec2fa6">
  <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fa6" viewBox="1678 565 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
    <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa6" style="fill:#000000" rx="0" ry="0">
      <defs></defs>
      <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa7" style="display:none">
        <defs></defs>
        <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fa7">
          <rect rx="0" ry="0" x="1678" y="565" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#2a4365;fill-opacity:1"></rect>
        </g>
      </g>
      <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa8">
        <defs></defs>
        <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fa8">
          <path d="M1684.3431396484375,572.75732421875L1682.928955078125,574.1715698242188L1690,581.2426147460938L1697.071044921875,574.1715698242188L1695.6568603515625,572.75732421875L1690,578.4141845703125L1684.3431396484375,572.75732421875Z" style="fill:#2a4365;fill-opacity:1"></path>
        </g>
      </g>
    </g>
  </svg>
</div>
<!-- rect: base-background -->
<div class="shape rect basebackg-8e03a9ec2fa7">
  <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fa7" viewBox="1678 565 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
    <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa7" style="display:none">
      <defs></defs>
      <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fa7">
        <rect rx="0" ry="0" x="1678" y="565" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#2a4365;fill-opacity:1"></rect>
      </g>
    </g>
  </svg>
</div>
<!-- path: svg-path -->
<div class="shape path svgpath-8e03a9ec2fa8">
  <svg width="14.142" xmlns="http://www.w3.org/2000/svg" height="8.485" id="screenshot-ad03169f-c56c-8064-8004-8e03a9ec2fa8" viewBox="1682.929 572.757 14.142 8.485" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
    <g id="shape-ad03169f-c56c-8064-8004-8e03a9ec2fa8">
      <defs></defs>
      <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9ec2fa8">
        <path d="M1684.3431396484375,572.75732421875L1682.928955078125,574.1715698242188L1690,581.2426147460938L1697.071044921875,574.1715698242188L1695.6568603515625,572.75732421875L1690,578.4141845703125L1684.3431396484375,572.75732421875Z" style="fill:#2a4365;fill-opacity:1"></path>
      </g>
    </g>
  </svg>
</div>