/* Component: Cards / content / Progress to target */

/* Cards / content / Progress to target */
.cards-co-89ede49b6e01 {
  position: relative;
  width: 100%;
  background: #ffffffFF;
  border-start-start-radius: 30px;
  border-start-end-radius: 30px;
  border-end-start-radius: 30px;
  border-end-end-radius: 30px;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: space-between;
  padding-inline-start: 20px;
  padding-inline-end: 15px;
  padding-block-start: 15px;
  padding-block-end: 20px;
  z-index: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
}

/* content */
.content-89ede49b6e02 {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: end;
  align-content: stretch;
  justify-content: end;
  gap: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* header */
.header-89ede49b6e03 {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  column-gap: 20px;
  padding-block-end: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Graph elements / progress bar / 75% */
.graph-elem-89ede49b6e04 {
  position: relative;
  width: 100%;
  height: auto;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  column-gap: 50px;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* data */
.data-89ede49b6e05 {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  gap: 5px;
  padding-block-start: 5px;
  padding-block-end: 5px;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* progress level 25% */
.progress-l-89ede49b6e06 {
  position: absolute;
  left: 0px;
  top: 30px;
  width: 100%;
  height: auto;
  border-start-end-radius: 5px;
  border-end-start-radius: 5px;
  display: none;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: start;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

/* progress level 50% */
.progress-l-89ede49b6e07 {
  position: absolute;
  left: 0px;
  top: 20px;
  width: 100%;
  height: auto;
  border-start-end-radius: 5px;
  border-end-start-radius: 5px;
  display: none;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: start;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

/* progress level 75% */
.progress-l-89ede49b6e08 {
  position: relative;
  width: 100%;
  height: 20px;
  border-start-end-radius: 5px;
  border-end-start-radius: 5px;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: start;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

/* progress level 100% */
.progress-l-89ede49b6e09 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  border-start-end-radius: 5px;
  border-end-start-radius: 5px;
  display: none;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: start;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

/* remaining */
.remaining-89ede49b6e0a {
  height: 10px;
  background: #E2E8F0FF;
  border-start-end-radius: 5px;
  border-end-start-radius: 5px;
  flex: 1;
  flex-shrink: 0;
}

/* remaining */
.remaining-89ede49b6e0b {
  height: 10px;
  background: #E2E8F0FF;
  flex: 1;
  flex-shrink: 0;
}

/* remaining */
.remaining-89ede49b6e0c {
  height: 10px;
  background: #E2E8F0FF;
  flex: 1;
  flex-shrink: 0;
}

/* progress */
.progress-89ede49b6e0d {
  height: 10px;
  background: #b794f4FF;
  border-start-start-radius: 5px;
  border-end-end-radius: 5px;
  flex: 1;
  flex-shrink: 0;
}

/* remaining */
.remaining-89ede49b6e0e {
  height: 10px;
  background: #E2E8F0FF;
  border-start-end-radius: 5px;
  border-end-start-radius: 5px;
  flex: 1;
  flex-shrink: 0;
}

/* progress */
.progress-89ede49b6e0f {
  width: 150px;
  height: 10px;
  background: #b794f4FF;
  border-start-start-radius: 5px;
  border-end-end-radius: 5px;
  flex-shrink: 0;
}

/* remaining */
.remaining-89ede49b6e10 {
  height: 20px;
  background: #E2E8F0FF;
  border-start-end-radius: 30px;
  border-end-start-radius: 30px;
  flex: 1;
  flex-shrink: 0;
}

/* progress */
.progress-89ede49b6e11 {
  height: 20px;
  background: #b794f4FF;
  flex: 1;
  flex-shrink: 0;
}

/* progress */
.progress-89ede49b6e12 {
  height: 20px;
  background: #b794f4FF;
  flex: 1;
  flex-shrink: 0;
}

/* progress */
.progress-89ede49b6e13 {
  height: 20px;
  background: #b794f4FF;
  border-start-start-radius: 30px;
  border-end-end-radius: 30px;
  flex: 1;
  flex-shrink: 0;
}

/* progress */
.progress-89ede49b6e14 {
  height: 10px;
  background: #b794f4FF;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  flex: 1;
  flex-shrink: 0;
}

/* 75% to €120,000 target */
.c-75-to-12-89ede49b6e15 {
  height: 22px;
  flex-shrink: 0;
}
.c-75-to-12-89ede49b6e15 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-end;
}
.c-75-to-12-89ede49b6e15 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.c-75-to-12-89ede49b6e15 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.c-75-to-12-89ede49b6e15 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(74, 85, 104, 1);
  text-transform: unset;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 18px;
  text-rendering: geometricPrecision;
  caret-color: rgba(74, 85, 104, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}

/* options */
.options-89ede49b6e16 {
  position: relative;
  width: auto;
  height: 44px;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: end;
  column-gap: 15px;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Current progress */
.current-pr-89ede49b6e17 {
  height: 26px;
  flex-shrink: 0;
}
.current-pr-89ede49b6e17 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.current-pr-89ede49b6e17 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.current-pr-89ede49b6e17 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.current-pr-89ede49b6e17 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(74, 85, 104, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 21px;
  text-rendering: geometricPrecision;
  caret-color: rgba(74, 85, 104, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}

/* Buttons / icon button */
.buttons-89ede49b6e18 {
  position: relative;
  width: auto;
  height: auto;
  background: #E2E8F0FF;
  border-start-start-radius: 40px;
  border-start-end-radius: 40px;
  border-end-start-radius: 40px;
  border-end-end-radius: 40px;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  gap: 10px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Icons / chevron-down */
.icons-ch-8e03a9eb92c3 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* icon / chevron-down */
.icon-che-8e03a9eb92c4 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.icon-che-8e03a9eb92c4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
}

/* base-background */
.basebackg-8e03a9eb92c5 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-8e03a9eb92c5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  display: none;
}

/* svg-path */
.svgpath-8e03a9eb92c6 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-8e03a9eb92c6 {
  position: absolute;
  left: 4.93px;
  top: 7.76px;
  width: 14.14px;
  height: 8.49px;
}