<!-- Component: Cards / empty / green -->

<!-- frame: Cards / empty / green -->
<div class="frame cards-em-88c639c34118">
  <!-- frame: header -->
  <div class="frame header-88c639c3411a">
    <!-- text: Heading 2 -->
    <div class="shape text heading-2-88c639c3b085">
      <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88c639c3b085" data-x="1767" data-y="564">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Heading 2</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- frame: options -->
    <div class="frame options-88c639c3411b">
      <!-- frame: Buttons / icon button -->
      <div class="frame buttons-88c639c3b07f">
        <!-- frame: Icons / chevron-down -->
        <div class="frame icons-ch-8e03a9eaff7f">
          <!-- group: icon / chevron-down -->
          <div class="shape group icon-che-8e03a9eaff80">
            <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eaff80" viewBox="1963 565 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
              <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff80" style="fill:#000000" rx="0" ry="0">
                <defs></defs>
                <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff81" style="display:none">
                  <defs></defs>
                  <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eaff81">
                    <rect rx="0" ry="0" x="1963" y="565" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#22543d;fill-opacity:1"></rect>
                  </g>
                </g>
                <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff82">
                  <defs></defs>
                  <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eaff82">
                    <path d="M1969.3431396484375,572.75732421875L1967.928955078125,574.1715698242188L1975,581.2426147460938L1982.071044921875,574.1715698242188L1980.6568603515625,572.75732421875L1975,578.4141845703125L1969.3431396484375,572.75732421875Z" style="fill:#22543d;fill-opacity:1"></path>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: content -->
  <div class="shape frame content-88c639c34119">
  </div>
</div>
<!-- frame: content -->
<div class="shape frame content-88c639c34119">
</div>
<!-- frame: header -->
<div class="frame header-88c639c3411a">
  <!-- text: Heading 2 -->
  <div class="shape text heading-2-88c639c3b085">
    <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88c639c3b085" data-x="1767" data-y="564">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Heading 2</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: options -->
  <div class="frame options-88c639c3411b">
    <!-- frame: Buttons / icon button -->
    <div class="frame buttons-88c639c3b07f">
      <!-- frame: Icons / chevron-down -->
      <div class="frame icons-ch-8e03a9eaff7f">
        <!-- group: icon / chevron-down -->
        <div class="shape group icon-che-8e03a9eaff80">
          <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eaff80" viewBox="1963 565 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
            <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff80" style="fill:#000000" rx="0" ry="0">
              <defs></defs>
              <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff81" style="display:none">
                <defs></defs>
                <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eaff81">
                  <rect rx="0" ry="0" x="1963" y="565" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#22543d;fill-opacity:1"></rect>
                </g>
              </g>
              <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff82">
                <defs></defs>
                <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eaff82">
                  <path d="M1969.3431396484375,572.75732421875L1967.928955078125,574.1715698242188L1975,581.2426147460938L1982.071044921875,574.1715698242188L1980.6568603515625,572.75732421875L1975,578.4141845703125L1969.3431396484375,572.75732421875Z" style="fill:#22543d;fill-opacity:1"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- frame: options -->
<div class="frame options-88c639c3411b">
  <!-- frame: Buttons / icon button -->
  <div class="frame buttons-88c639c3b07f">
    <!-- frame: Icons / chevron-down -->
    <div class="frame icons-ch-8e03a9eaff7f">
      <!-- group: icon / chevron-down -->
      <div class="shape group icon-che-8e03a9eaff80">
        <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eaff80" viewBox="1963 565 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
          <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff80" style="fill:#000000" rx="0" ry="0">
            <defs></defs>
            <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff81" style="display:none">
              <defs></defs>
              <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eaff81">
                <rect rx="0" ry="0" x="1963" y="565" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#22543d;fill-opacity:1"></rect>
              </g>
            </g>
            <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff82">
              <defs></defs>
              <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eaff82">
                <path d="M1969.3431396484375,572.75732421875L1967.928955078125,574.1715698242188L1975,581.2426147460938L1982.071044921875,574.1715698242188L1980.6568603515625,572.75732421875L1975,578.4141845703125L1969.3431396484375,572.75732421875Z" style="fill:#22543d;fill-opacity:1"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
<!-- text: Heading 2 -->
<div class="shape text heading-2-88c639c3b085">
  <div class="text-node-html" id="html-text-node-d04aaf76-faaf-80cc-8004-88c639c3b085" data-x="1767" data-y="564">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Heading 2</span></p>
      </div>
    </div>
  </div>
</div>
<!-- frame: Buttons / icon button -->
<div class="frame buttons-88c639c3b07f">
  <!-- frame: Icons / chevron-down -->
  <div class="frame icons-ch-8e03a9eaff7f">
    <!-- group: icon / chevron-down -->
    <div class="shape group icon-che-8e03a9eaff80">
      <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eaff80" viewBox="1963 565 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
        <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff80" style="fill:#000000" rx="0" ry="0">
          <defs></defs>
          <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff81" style="display:none">
            <defs></defs>
            <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eaff81">
              <rect rx="0" ry="0" x="1963" y="565" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#22543d;fill-opacity:1"></rect>
            </g>
          </g>
          <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff82">
            <defs></defs>
            <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eaff82">
              <path d="M1969.3431396484375,572.75732421875L1967.928955078125,574.1715698242188L1975,581.2426147460938L1982.071044921875,574.1715698242188L1980.6568603515625,572.75732421875L1975,578.4141845703125L1969.3431396484375,572.75732421875Z" style="fill:#22543d;fill-opacity:1"></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>
<!-- frame: Icons / chevron-down -->
<div class="frame icons-ch-8e03a9eaff7f">
  <!-- group: icon / chevron-down -->
  <div class="shape group icon-che-8e03a9eaff80">
    <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eaff80" viewBox="1963 565 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
      <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff80" style="fill:#000000" rx="0" ry="0">
        <defs></defs>
        <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff81" style="display:none">
          <defs></defs>
          <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eaff81">
            <rect rx="0" ry="0" x="1963" y="565" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#22543d;fill-opacity:1"></rect>
          </g>
        </g>
        <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff82">
          <defs></defs>
          <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eaff82">
            <path d="M1969.3431396484375,572.75732421875L1967.928955078125,574.1715698242188L1975,581.2426147460938L1982.071044921875,574.1715698242188L1980.6568603515625,572.75732421875L1975,578.4141845703125L1969.3431396484375,572.75732421875Z" style="fill:#22543d;fill-opacity:1"></path>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
<!-- group: icon / chevron-down -->
<div class="shape group icon-che-8e03a9eaff80">
  <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eaff80" viewBox="1963 565 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
    <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff80" style="fill:#000000" rx="0" ry="0">
      <defs></defs>
      <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff81" style="display:none">
        <defs></defs>
        <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eaff81">
          <rect rx="0" ry="0" x="1963" y="565" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#22543d;fill-opacity:1"></rect>
        </g>
      </g>
      <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff82">
        <defs></defs>
        <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eaff82">
          <path d="M1969.3431396484375,572.75732421875L1967.928955078125,574.1715698242188L1975,581.2426147460938L1982.071044921875,574.1715698242188L1980.6568603515625,572.75732421875L1975,578.4141845703125L1969.3431396484375,572.75732421875Z" style="fill:#22543d;fill-opacity:1"></path>
        </g>
      </g>
    </g>
  </svg>
</div>
<!-- rect: base-background -->
<div class="shape rect basebackg-8e03a9eaff81">
  <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eaff81" viewBox="1963 565 24 24" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
    <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff81" style="display:none">
      <defs></defs>
      <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eaff81">
        <rect rx="0" ry="0" x="1963" y="565" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="24" height="24" fill="none" style="fill:#22543d;fill-opacity:1"></rect>
      </g>
    </g>
  </svg>
</div>
<!-- path: svg-path -->
<div class="shape path svgpath-8e03a9eaff82">
  <svg width="14.142" xmlns="http://www.w3.org/2000/svg" height="8.485" id="screenshot-ad03169f-c56c-8064-8004-8e03a9eaff82" viewBox="1967.929 572.757 14.142 8.485" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
    <g id="shape-ad03169f-c56c-8064-8004-8e03a9eaff82">
      <defs></defs>
      <g class="fills" id="fills-ad03169f-c56c-8064-8004-8e03a9eaff82">
        <path d="M1969.3431396484375,572.75732421875L1967.928955078125,574.1715698242188L1975,581.2426147460938L1982.071044921875,574.1715698242188L1980.6568603515625,572.75732421875L1975,578.4141845703125L1969.3431396484375,572.75732421875Z" style="fill:#22543d;fill-opacity:1"></path>
      </g>
    </g>
  </svg>
</div>