/* Component: Cards / empty / green */

/* Cards / empty / green */
.cards-em-88c639c34118 {
  position: relative;
  width: 100%;
  background: #f0fff4FF;
  border-start-start-radius: 30px;
  border-start-end-radius: 30px;
  border-end-start-radius: 30px;
  border-end-end-radius: 30px;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: space-between;
  padding-inline-start: 20px;
  padding-inline-end: 15px;
  padding-block-start: 15px;
  padding-block-end: 20px;
  z-index: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
}

/* content */
.content-88c639c34119 {
  position: relative;
  width: 100%;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: end;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

/* header */
.header-88c639c3411a {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  column-gap: 20px;
  padding-block-end: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

/* options */
.options-88c639c3411b {
  position: relative;
  width: auto;
  height: 44px;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: end;
  column-gap: 15px;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Heading 2 */
.heading-2-88c639c3b085 {
  height: 26px;
  flex-shrink: 0;
}
.heading-2-88c639c3b085 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.heading-2-88c639c3b085 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.heading-2-88c639c3b085 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.heading-2-88c639c3b085 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(34, 84, 61, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 21px;
  text-rendering: geometricPrecision;
  caret-color: rgba(34, 84, 61, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}

/* Buttons / icon button */
.buttons-88c639c3b07f {
  position: relative;
  width: auto;
  height: auto;
  background: #c6f6d5FF;
  border-start-start-radius: 40px;
  border-start-end-radius: 40px;
  border-end-start-radius: 40px;
  border-end-end-radius: 40px;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  gap: 10px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Icons / chevron-down */
.icons-ch-8e03a9eaff7f {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* icon / chevron-down */
.icon-che-8e03a9eaff80 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.icon-che-8e03a9eaff80 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
}

/* base-background */
.basebackg-8e03a9eaff81 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-8e03a9eaff81 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  display: none;
}

/* svg-path */
.svgpath-8e03a9eaff82 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-8e03a9eaff82 {
  position: absolute;
  left: 4.93px;
  top: 7.76px;
  width: 14.14px;
  height: 8.49px;
}