/* Component: Cards / content / Revenue */

/* Cards / content / Revenue */
.cards-co-88cca5bf19e7 {
  position: relative;
  width: 100%;
  background: #ebf8ffFF;
  border-start-start-radius: 30px;
  border-start-end-radius: 30px;
  border-end-start-radius: 30px;
  border-end-end-radius: 30px;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: space-between;
  padding-inline-start: 20px;
  padding-inline-end: 15px;
  padding-block-start: 15px;
  padding-block-end: 20px;
  z-index: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
}

/* content */
.content-88cca5bf19e8 {
  position: relative;
  width: 100%;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: end;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

/* header */
.header-88cca5bf19e9 {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  column-gap: 20px;
  padding-block-end: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

/* medium number */
.medium-num-88cc43c4da5f {
  position: relative;
  width: 100%;
  display: flex;
  align-items: end;
  align-content: stretch;
  justify-content: start;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
}

/* Graph elements / comparison / going up */
.graph-elem-88cc43c4da60 {
  position: relative;
  height: auto;
  display: flex;
  align-items: end;
  align-content: stretch;
  justify-content: end;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
  align-self: end;
}

/* .00 */
.c-00-88cd3f02238b {
  width: 37px;
  height: 100%;
  flex-shrink: 0;
}
.c-00-88cd3f02238b .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-end;
}
.c-00-88cd3f02238b .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.c-00-88cd3f02238b .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 0.75;
  margin: 0;
  text-align: left;
}
.c-00-88cd3f02238b .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(42, 67, 101, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 25px;
  text-rendering: geometricPrecision;
  caret-color: rgba(42, 67, 101, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 600;
}

/* €90,200 */
.c-90200-88cc43c4da61 {
  width: 197px;
  height: 100%;
  flex-shrink: 0;
}
.c-90200-88cc43c4da61 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-end;
}
.c-90200-88cc43c4da61 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.c-90200-88cc43c4da61 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 0.75;
  margin: 0;
  text-align: left;
}
.c-90200-88cc43c4da61 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(42, 67, 101, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 50px;
  text-rendering: geometricPrecision;
  caret-color: rgba(42, 67, 101, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 600;
}

/* icon / arrows / arrow-up */
.icon-arr-919e42082cb7 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* +15% */
.c-15-88cc43c4da63 {
  height: 20px;
  flex-shrink: 0;
}
.c-15-88cc43c4da63 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-end;
}
.c-15-88cc43c4da63 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.c-15-88cc43c4da63 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: right;
}
.c-15-88cc43c4da63 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(56, 161, 105, 1);
  text-transform: unset;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 16px;
  text-rendering: geometricPrecision;
  caret-color: rgba(56, 161, 105, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}

/* icon / arrow-up */
.icon-arr-919e42082cb8 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.icon-arr-919e42082cb8 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
}

/* base-background */
.basebackg-919e42082cb9 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-919e42082cb9 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  display: none;
}

/* svg-path */
.svgpath-919e42082cba > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-919e42082cba {
  position: absolute;
  left: 6.34px;
  top: 3.29px;
  width: 11.31px;
  height: 17.42px;
}

/* options */
.options-88cca5bf19ea {
  position: relative;
  width: auto;
  height: 44px;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: end;
  column-gap: 15px;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Revenue */
.revenue-88cca5bf6b0b {
  height: 26px;
  flex-shrink: 0;
}
.revenue-88cca5bf6b0b .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.revenue-88cca5bf6b0b .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.revenue-88cca5bf6b0b .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.revenue-88cca5bf6b0b .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(42, 67, 101, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 21px;
  text-rendering: geometricPrecision;
  caret-color: rgba(42, 67, 101, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}

/* icon button */
.icon-butto-88cca5bf19eb {
  position: relative;
  width: auto;
  height: auto;
  background: #bee3f8FF;
  border-start-start-radius: 40px;
  border-start-end-radius: 40px;
  border-end-start-radius: 40px;
  border-end-end-radius: 40px;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  gap: 10px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Icons / chevron-down */
.icons-ch-8e03a9ec2faa {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* icon / chevron-down */
.icon-che-8e03a9ec2fab > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.icon-che-8e03a9ec2fab {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
}

/* base-background */
.basebackg-8e03a9ec2fac > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-8e03a9ec2fac {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  display: none;
}

/* svg-path */
.svgpath-8e03a9ec2fad > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-8e03a9ec2fad {
  position: absolute;
  left: 4.93px;
  top: 7.76px;
  width: 14.14px;
  height: 8.49px;
}