/* Component: Graph / line graph */

/* Graph / line graph */
.graph-li-8de949ac19c1 {
  position: relative;
  width: 100%;
  display: grid;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: stretch;
  column-gap: 5px;
  z-index: 0;
  flex-grow: 1;
  grid-template-rows: 1fr 20px;
  grid-template-columns: auto 1fr;
}

/* Graph elements / short X axis */
.graph-elem-8de94338b9de {
  position: relative;
  width: 100%;
  height: 39px;
  display: grid;
  align-items: start;
  align-content: stretch;
  justify-items: center;
  justify-content: stretch;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  grid-column: 2;
  grid-row: 2;
}

/* line */
.line-8deab61419cb {
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 1;
}

/* Graph elements / short Y axis */
.graph-elem-8decc1b8d632 {
  position: relative;
  width: auto;
  height: 100%;
  display: grid;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: stretch;
  column-gap: 5px;
  grid-template-rows: 1fr;
  grid-template-columns: 20px 30px;
  grid-column: 1;
  grid-row: 1;
}

/* June 2024 */
.june-2024-8deb4ea58966 {
  width: 100%;
  height: 17px;
  grid-column: 3;
  grid-row: 1;
}
.june-2024-8deb4ea58966 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.june-2024-8deb4ea58966 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.june-2024-8deb4ea58966 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: right;
}
.june-2024-8deb4ea58966 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(74, 85, 104, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(74, 85, 104, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}

/* MONTHS */
.m-o-n-t-h-s-8de94338b9e2 {
  width: 100%;
  height: 14px;
  grid-column: 2;
  grid-row: 1;
}
.m-o-n-t-h-s-8de94338b9e2 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.m-o-n-t-h-s-8de94338b9e2 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.m-o-n-t-h-s-8de94338b9e2 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1;
  margin: 0;
  text-align: center;
}
.m-o-n-t-h-s-8de94338b9e2 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(74, 85, 104, 1);
  text-transform: uppercase;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(74, 85, 104, 1);
  text-decoration: none;
  letter-spacing: 0.5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}

/* June 2023 */
.june-2023-8deb4ea58967 {
  width: 100%;
  height: 14px;
  justify-self: start;
}
.june-2023-8deb4ea58967 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.june-2023-8deb4ea58967 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.june-2023-8deb4ea58967 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.june-2023-8deb4ea58967 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(74, 85, 104, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(74, 85, 104, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}

/* Mask */
.mask-8df0f5c6bb3e > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.mask-8df0f5c6bb3e {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 540px;
  height: 164px;
}

/* line */
.line-8df028ccf0e1 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.line-8df028ccf0e1 {
  position: absolute;
  left: 0.99px;
  top: 2.56px;
  width: 538.01px;
  height: 138.11px;
}

/* Rectangle */
.rectangle-8df0a6dc5eaa {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 540px;
  height: 164px;
  background: linear-gradient(to bottom, rgba(183, 148, 244, 1) 0%,rgba(183, 148, 244, 0) 100%);
}

/* line mask */
.line-mask-8defe3c54a0c > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.line-mask-8defe3c54a0c {
  position: absolute;
  left: 0.99px;
  top: 2.56px;
  width: 538.01px;
  height: 139.18px;
}

/* Values */
.values-8decc1b8d633 {
  position: relative;
  width: auto;
  height: 100%;
  display: grid;
  align-items: start;
  align-content: space-between;
  justify-items: start;
  justify-content: stretch;
  padding-block-start: 5px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-self: start;
  grid-column: 2;
  grid-row: 1;
}

/* Units */
.units-8decc1b8d636-wrapper {
  grid-row: 1;
  grid-column: 1;
  width: 20px;
  height: 164px;
  position: relative;
}
.units-8decc1b8d636-wrapper > * {
  position: absolute;
  left: 50%;
  top: 50%;
}
.units-8decc1b8d636 {
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) matrix(-0.01, -1.00, 1.00, -0.00, 0.00, 0.00);
}
.units-8decc1b8d636 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: center;
}
.units-8decc1b8d636 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.units-8decc1b8d636 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1;
  margin: 0;
  text-align: center;
}
.units-8decc1b8d636 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(74, 85, 104, 1);
  text-transform: uppercase;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(74, 85, 104, 1);
  text-decoration: none;
  letter-spacing: 0.5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}

/* 0 */
.c-0-8decc1b8d634 {
  width: 100%;
  height: 100%;
  min-width: 30px;
  min-inline-size: 30px;
  grid-column: 1;
  grid-row: 2;
}
.c-0-8decc1b8d634 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-end;
}
.c-0-8decc1b8d634 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.c-0-8decc1b8d634 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1;
  margin: 0;
  text-align: right;
}
.c-0-8decc1b8d634 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(74, 85, 104, 1);
  text-transform: uppercase;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(74, 85, 104, 1);
  text-decoration: none;
  letter-spacing: 0.5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}

/* 500 */
.c-500-8decc1b8d635 {
  width: 100%;
  height: 100%;
  min-width: 30px;
  min-inline-size: 30px;
  grid-column: 1;
  grid-row: 1;
}
.c-500-8decc1b8d635 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.c-500-8decc1b8d635 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.c-500-8decc1b8d635 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1;
  margin: 0;
  text-align: right;
}
.c-500-8decc1b8d635 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(74, 85, 104, 1);
  text-transform: uppercase;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(74, 85, 104, 1);
  text-decoration: none;
  letter-spacing: 0.5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}