<!-- Component: Graph elements / short Y axis -->

<!-- frame: Graph elements / short Y axis -->
<div class="frame graph-elem-8decb32b5fb8">
  <!-- text: label -->
  <div class="label-8decb32b5fba-wrapper">
    <div class="shape text label-8decb32b5fba">
      <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8decb32b5fba" data-x="104.00902165363365" data-y="866.6159205649894">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">label</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: Values -->
  <div class="frame values-8decb32b5fb9">
    <!-- text: 50 -->
    <div class="shape text c-50-8decb32b5fbc">
      <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8decb32b5fbc" data-x="168.99999999999994" data-y="830.9999999999998">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">50</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: 0 -->
    <div class="shape text c-0-8decb32b5fbb">
      <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8decb32b5fbb" data-x="168.99999999999994" data-y="878.5">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">0</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- frame: Values -->
<div class="frame values-8decb32b5fb9">
  <!-- text: 50 -->
  <div class="shape text c-50-8decb32b5fbc">
    <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8decb32b5fbc" data-x="168.99999999999994" data-y="830.9999999999998">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">50</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- text: 0 -->
  <div class="shape text c-0-8decb32b5fbb">
    <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8decb32b5fbb" data-x="168.99999999999994" data-y="878.5">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">0</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- text: label -->
<div class="label-8decb32b5fba-wrapper">
  <div class="shape text label-8decb32b5fba">
    <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8decb32b5fba" data-x="104.00902165363365" data-y="866.6159205649894">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">label</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- text: 0 -->
<div class="shape text c-0-8decb32b5fbb">
  <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8decb32b5fbb" data-x="168.99999999999994" data-y="878.5">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">0</span></p>
      </div>
    </div>
  </div>
</div>
<!-- text: 50 -->
<div class="shape text c-50-8decb32b5fbc">
  <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8decb32b5fbc" data-x="168.99999999999994" data-y="830.9999999999998">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">50</span></p>
      </div>
    </div>
  </div>
</div>