<!-- Component: short X axis -->

<!-- frame: short X axis -->
<div class="frame short-x-ax-8de78949282d">
  <!-- frame: Graph elements / short X axis -->
  <div class="frame graph-elem-8de7894f7348">
    <!-- text: January -->
    <div class="shape text january-8de7894f7350">
      <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8de7894f7350" data-x="255" data-y="826.0000000000002">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">January</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: Label -->
    <div class="shape text label-8de7894f7349">
      <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8de7894f7349" data-x="355" data-y="827.5">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Label</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: June -->
    <div class="shape text june-8de7894f734b">
      <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8de7894f734b" data-x="455" data-y="826">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">June</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- frame: Graph elements / short X axis -->
<div class="frame graph-elem-8de7894f7348">
  <!-- text: January -->
  <div class="shape text january-8de7894f7350">
    <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8de7894f7350" data-x="255" data-y="826.0000000000002">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">January</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- text: Label -->
  <div class="shape text label-8de7894f7349">
    <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8de7894f7349" data-x="355" data-y="827.5">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Label</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- text: June -->
  <div class="shape text june-8de7894f734b">
    <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8de7894f734b" data-x="455" data-y="826">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">June</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- text: June -->
<div class="shape text june-8de7894f734b">
  <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8de7894f734b" data-x="455" data-y="826">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">June</span></p>
      </div>
    </div>
  </div>
</div>
<!-- text: Label -->
<div class="shape text label-8de7894f7349">
  <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8de7894f7349" data-x="355" data-y="827.5">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Label</span></p>
      </div>
    </div>
  </div>
</div>
<!-- text: January -->
<div class="shape text january-8de7894f7350">
  <div class="text-node-html" id="html-text-node-ad03169f-c56c-8064-8004-8de7894f7350" data-x="255" data-y="826.0000000000002">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">January</span></p>
      </div>
    </div>
  </div>
</div>