<!-- Component: X axis -->

<!-- frame: X axis -->
<div class="frame x-axis-753721c41be2">
  <!-- frame: Graph elements / X axis -->
  <div class="frame graph-elem-7535459c39ca">
    <!-- frame: Values -->
    <div class="frame values-7535d910d29a">
      <!-- text: January -->
      <div class="shape text january-7532746920c3">
        <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-7532746920c3" data-x="143.9999999999999" data-y="707">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">January</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: February -->
      <div class="shape text february-75327a8ec516">
        <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75327a8ec516" data-x="231.83333333333326" data-y="707">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">February</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: March -->
      <div class="shape text march-75328292d0a4">
        <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75328292d0a4" data-x="319.6666666666667" data-y="707">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">March</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: April -->
      <div class="shape text april-75328589e57e">
        <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75328589e57e" data-x="407.4999999999998" data-y="707">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">April</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: May -->
      <div class="shape text may-753289f0330a">
        <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-753289f0330a" data-x="495.33333333333326" data-y="707">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">May</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: June -->
      <div class="shape text june-75328d40fcf1">
        <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75328d40fcf1" data-x="583.1666666666666" data-y="707">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">June</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- text: Label -->
    <div class="shape text label-75326f051b12">
      <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75326f051b12" data-x="143.99999999999986" data-y="732.5">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Label</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- frame: Graph elements / X axis -->
<div class="frame graph-elem-7535459c39ca">
  <!-- frame: Values -->
  <div class="frame values-7535d910d29a">
    <!-- text: January -->
    <div class="shape text january-7532746920c3">
      <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-7532746920c3" data-x="143.9999999999999" data-y="707">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">January</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: February -->
    <div class="shape text february-75327a8ec516">
      <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75327a8ec516" data-x="231.83333333333326" data-y="707">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">February</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: March -->
    <div class="shape text march-75328292d0a4">
      <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75328292d0a4" data-x="319.6666666666667" data-y="707">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">March</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: April -->
    <div class="shape text april-75328589e57e">
      <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75328589e57e" data-x="407.4999999999998" data-y="707">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">April</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: May -->
    <div class="shape text may-753289f0330a">
      <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-753289f0330a" data-x="495.33333333333326" data-y="707">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">May</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: June -->
    <div class="shape text june-75328d40fcf1">
      <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75328d40fcf1" data-x="583.1666666666666" data-y="707">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">June</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- text: Label -->
  <div class="shape text label-75326f051b12">
    <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75326f051b12" data-x="143.99999999999986" data-y="732.5">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Label</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- text: Label -->
<div class="shape text label-75326f051b12">
  <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75326f051b12" data-x="143.99999999999986" data-y="732.5">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Label</span></p>
      </div>
    </div>
  </div>
</div>
<!-- frame: Values -->
<div class="frame values-7535d910d29a">
  <!-- text: January -->
  <div class="shape text january-7532746920c3">
    <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-7532746920c3" data-x="143.9999999999999" data-y="707">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">January</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- text: February -->
  <div class="shape text february-75327a8ec516">
    <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75327a8ec516" data-x="231.83333333333326" data-y="707">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">February</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- text: March -->
  <div class="shape text march-75328292d0a4">
    <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75328292d0a4" data-x="319.6666666666667" data-y="707">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">March</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- text: April -->
  <div class="shape text april-75328589e57e">
    <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75328589e57e" data-x="407.4999999999998" data-y="707">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">April</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- text: May -->
  <div class="shape text may-753289f0330a">
    <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-753289f0330a" data-x="495.33333333333326" data-y="707">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">May</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- text: June -->
  <div class="shape text june-75328d40fcf1">
    <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75328d40fcf1" data-x="583.1666666666666" data-y="707">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">June</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- text: June -->
<div class="shape text june-75328d40fcf1">
  <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75328d40fcf1" data-x="583.1666666666666" data-y="707">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">June</span></p>
      </div>
    </div>
  </div>
</div>
<!-- text: May -->
<div class="shape text may-753289f0330a">
  <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-753289f0330a" data-x="495.33333333333326" data-y="707">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">May</span></p>
      </div>
    </div>
  </div>
</div>
<!-- text: April -->
<div class="shape text april-75328589e57e">
  <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75328589e57e" data-x="407.4999999999998" data-y="707">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">April</span></p>
      </div>
    </div>
  </div>
</div>
<!-- text: March -->
<div class="shape text march-75328292d0a4">
  <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75328292d0a4" data-x="319.6666666666667" data-y="707">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">March</span></p>
      </div>
    </div>
  </div>
</div>
<!-- text: February -->
<div class="shape text february-75327a8ec516">
  <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75327a8ec516" data-x="231.83333333333326" data-y="707">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">February</span></p>
      </div>
    </div>
  </div>
</div>
<!-- text: January -->
<div class="shape text january-7532746920c3">
  <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-7532746920c3" data-x="143.9999999999999" data-y="707">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">January</span></p>
      </div>
    </div>
  </div>
</div>