<!-- Component: Y axis -->

<!-- frame: Y axis -->
<div class="frame y-axis-753717e530ac">
  <!-- frame: Graph elements / Y axis -->
  <div class="frame graph-elem-7533b48767a8">
    <!-- text: Label -->
    <div class="label-75323fef28f4-wrapper">
      <div class="shape text label-75323fef28f4">
        <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75323fef28f4" data-x="-168.43722730292058" data-y="869.4999639428528">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Label</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- frame: Values -->
    <div class="values-75344045ac31-wrapper">
      <div class="frame values-75344045ac31">
        <!-- text: 100 -->
        <div class="c-100-75321a419036-wrapper">
          <div class="shape text c-100-75321a419036">
            <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75321a419036" data-x="27.708577001813197" data-y="700.9454707944672">
              <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
                <div class="paragraph-set root-0-paragraph-set-0">
                  <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">100</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- text: 80 -->
        <div class="c-80-753215f1353b-wrapper">
          <div class="shape text c-80-753215f1353b">
            <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-753215f1353b" data-x="27.857393584638814" data-y="761.7786221013625">
              <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
                <div class="paragraph-set root-0-paragraph-set-0">
                  <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">80</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- text: 60 -->
        <div class="c-60-753212cc5559-wrapper">
          <div class="shape text c-60-753212cc5559">
            <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-753212cc5559" data-x="28.006210167479814" data-y="822.6117734096547">
              <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
                <div class="paragraph-set root-0-paragraph-set-0">
                  <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">60</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- text: 40 -->
        <div class="c-40-75320f4dcd76-wrapper">
          <div class="shape text c-40-75320f4dcd76">
            <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75320f4dcd76" data-x="28.155026750288393" data-y="883.4449247174318">
              <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
                <div class="paragraph-set root-0-paragraph-set-0">
                  <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">40</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- text: 20 -->
        <div class="c-20-7532079da16f-wrapper">
          <div class="shape text c-20-7532079da16f">
            <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-7532079da16f" data-x="28.303843333127325" data-y="944.2780760257706">
              <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
                <div class="paragraph-set root-0-paragraph-set-0">
                  <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">20</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- text: 0 -->
        <div class="c-0-7531fd6c4ce3-wrapper">
          <div class="shape text c-0-7531fd6c4ce3">
            <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-7531fd6c4ce3" data-x="28.4526599159486" data-y="1005.1112273338302">
              <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
                <div class="paragraph-set root-0-paragraph-set-0">
                  <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">0</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- frame: Graph elements / Y axis -->
<div class="frame graph-elem-7533b48767a8">
  <!-- text: Label -->
  <div class="label-75323fef28f4-wrapper">
    <div class="shape text label-75323fef28f4">
      <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75323fef28f4" data-x="-168.43722730292058" data-y="869.4999639428528">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Label</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: Values -->
  <div class="values-75344045ac31-wrapper">
    <div class="frame values-75344045ac31">
      <!-- text: 100 -->
      <div class="c-100-75321a419036-wrapper">
        <div class="shape text c-100-75321a419036">
          <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75321a419036" data-x="27.708577001813197" data-y="700.9454707944672">
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">100</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- text: 80 -->
      <div class="c-80-753215f1353b-wrapper">
        <div class="shape text c-80-753215f1353b">
          <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-753215f1353b" data-x="27.857393584638814" data-y="761.7786221013625">
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">80</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- text: 60 -->
      <div class="c-60-753212cc5559-wrapper">
        <div class="shape text c-60-753212cc5559">
          <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-753212cc5559" data-x="28.006210167479814" data-y="822.6117734096547">
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">60</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- text: 40 -->
      <div class="c-40-75320f4dcd76-wrapper">
        <div class="shape text c-40-75320f4dcd76">
          <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75320f4dcd76" data-x="28.155026750288393" data-y="883.4449247174318">
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">40</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- text: 20 -->
      <div class="c-20-7532079da16f-wrapper">
        <div class="shape text c-20-7532079da16f">
          <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-7532079da16f" data-x="28.303843333127325" data-y="944.2780760257706">
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">20</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- text: 0 -->
      <div class="c-0-7531fd6c4ce3-wrapper">
        <div class="shape text c-0-7531fd6c4ce3">
          <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-7531fd6c4ce3" data-x="28.4526599159486" data-y="1005.1112273338302">
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">0</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- frame: Values -->
<div class="values-75344045ac31-wrapper">
  <div class="frame values-75344045ac31">
    <!-- text: 100 -->
    <div class="c-100-75321a419036-wrapper">
      <div class="shape text c-100-75321a419036">
        <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75321a419036" data-x="27.708577001813197" data-y="700.9454707944672">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">100</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- text: 80 -->
    <div class="c-80-753215f1353b-wrapper">
      <div class="shape text c-80-753215f1353b">
        <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-753215f1353b" data-x="27.857393584638814" data-y="761.7786221013625">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">80</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- text: 60 -->
    <div class="c-60-753212cc5559-wrapper">
      <div class="shape text c-60-753212cc5559">
        <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-753212cc5559" data-x="28.006210167479814" data-y="822.6117734096547">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">60</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- text: 40 -->
    <div class="c-40-75320f4dcd76-wrapper">
      <div class="shape text c-40-75320f4dcd76">
        <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75320f4dcd76" data-x="28.155026750288393" data-y="883.4449247174318">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">40</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- text: 20 -->
    <div class="c-20-7532079da16f-wrapper">
      <div class="shape text c-20-7532079da16f">
        <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-7532079da16f" data-x="28.303843333127325" data-y="944.2780760257706">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">20</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- text: 0 -->
    <div class="c-0-7531fd6c4ce3-wrapper">
      <div class="shape text c-0-7531fd6c4ce3">
        <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-7531fd6c4ce3" data-x="28.4526599159486" data-y="1005.1112273338302">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">0</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- text: Label -->
<div class="label-75323fef28f4-wrapper">
  <div class="shape text label-75323fef28f4">
    <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75323fef28f4" data-x="-168.43722730292058" data-y="869.4999639428528">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Label</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- text: 0 -->
<div class="c-0-7531fd6c4ce3-wrapper">
  <div class="shape text c-0-7531fd6c4ce3">
    <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-7531fd6c4ce3" data-x="28.4526599159486" data-y="1005.1112273338302">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">0</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- text: 20 -->
<div class="c-20-7532079da16f-wrapper">
  <div class="shape text c-20-7532079da16f">
    <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-7532079da16f" data-x="28.303843333127325" data-y="944.2780760257706">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">20</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- text: 40 -->
<div class="c-40-75320f4dcd76-wrapper">
  <div class="shape text c-40-75320f4dcd76">
    <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75320f4dcd76" data-x="28.155026750288393" data-y="883.4449247174318">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">40</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- text: 60 -->
<div class="c-60-753212cc5559-wrapper">
  <div class="shape text c-60-753212cc5559">
    <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-753212cc5559" data-x="28.006210167479814" data-y="822.6117734096547">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">60</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- text: 80 -->
<div class="c-80-753215f1353b-wrapper">
  <div class="shape text c-80-753215f1353b">
    <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-753215f1353b" data-x="27.857393584638814" data-y="761.7786221013625">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">80</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- text: 100 -->
<div class="c-100-75321a419036-wrapper">
  <div class="shape text c-100-75321a419036">
    <div class="text-node-html" id="html-text-node-d5357673-c18f-80c3-8004-75321a419036" data-x="27.708577001813197" data-y="700.9454707944672">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">100</span></p>
        </div>
      </div>
    </div>
  </div>
</div>